---
import site from "@/config/site";

const gifs = [
  "/ani_lian.gif",
  "/ani_ragnar-ezgif.com-crop.gif",
  "/ani_uku.gif",
  "/foulou.gif",
  "/ichigo-kurusaki-hollow-ezgif-com-crop.gif",
  "/ichigo.gif",
];
---

<div class="mt-4 mb-6 md:mt-4 md:mb-10">
  <img
    id="sidebar-gif"
    src={gifs[0]}
    alt=""
    aria-hidden="true"
    class="mb-4 h-29 w-29 object-contain"
  />

  <div>
    <h1
      data-pagefind-ignore
      class="text-lg font-bold tracking-tight text-foreground md:text-xl"
    >
      {site.meta.title}
    </h1>

    <p class="mt-2 hidden text-xs text-muted-foreground/70 md:block">
      {site.meta.description}
    </p>
  </div>
</div>

<script define:vars={{ gifs }}>
  function chooseRandomGif() {
    const gifElement = document.getElementById(
      "sidebar-gif",
    ) as HTMLImageElement | null;

    if (!gifElement) return;

    const randomIndex = Math.floor(Math.random() * gifs.length);

    gifElement.src = gifs[randomIndex];
  }

  document.addEventListener("astro:page-load", chooseRandomGif);
</script>