---
import site from "@/config/site";
---

<div class="mt-14 mb-6 md:mt-20 md:mb-10">
  <div>
    <h1
      data-pagefind-ignore
      class="text-lg font-bold tracking-tight text-foreground md:text-xl"
    >
      {site.meta.title}
    </h1>
    <p class="mt-2 hidden text-xs text-muted-foreground/70 md:block">
      {site.meta.description}
    </p>
  </div>
</div>