---
import Layout from "../layouts/Layout.astro";
import { getEntry, render } from "astro:content";

const cv = await getEntry("pages", "cv");
const { Content } = await render(cv!);
---

<Layout title={cv!.data.title} description={cv!.data.description}>
	<div class="animate-in fade-in mx-auto max-w-2xl p-8 duration-700 md:p-16">
		<div class="prose dark:prose-invert">
			<Content />
		</div>
	</div>
</Layout>
